@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Outfit;
  border: none;
}

.body-wrapper {
  width: 100%;
}
.body-container {
  max-width: 83.8888%;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .body-container {
    max-width: 87.2%;
  }
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 41px;
  padding: 24px 0;
}
.navbar-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  transition: all 0.5s;
}
.navbar-menu-container-open {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  gap: 40px;
  width: 70%;
  height: 100%;
  justify-content: flex-end;
  padding: 36px 42px;
  transform: translateX(0);
  transition: all 0.5s;
}
.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 43px;
}
.navbar-menu a {
  color: #0F2F64;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12.5px;
}
.navbar-menu-icon {
  display: none;
}

@media screen and (max-width: 1080px) {
  .navbar-container {
    justify-content: space-between;
  }
  .navbar-menu-container {
    flex-direction: column-reverse;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    gap: 40px;
    width: 70%;
    height: 100%;
    justify-content: flex-end;
    padding: 36px 48px;
    transform: translateX(-100%);
  }
  .navbar-menu {
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
  }
  .navbar-menu-icon {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .navbar-right {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}
.button-primary {
  padding: 16px 32px;
  border-radius: 6px;
  background-color: #1E5DBC;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.32px;
  cursor: pointer;
}

.button-white {
  padding: 16px 24px;
  border-radius: 6px;
  background-color: #fff;
  color: #1E5DBC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.32px;
  cursor: pointer;
  border: 1px solid #1E5DBC;
}